{% extends "layout.html" %}
{% block content %}
	<h1> Gideon's Gap Year </h1>
	<p>This is the site that I'll be working on for my gap year (or semester — who knows what the world has in store?). I'll use it as a blog to post projects, give updates, and I'll make projects specifically for the site as I learn web development. I don't really intend on anyone paying attention. I want this log for myself. Let's see how far I'll go.</p>
	<p>Past versions are available on my github. I look forward to seeing what I'll be able to make this year.</p>
	<a href="https://github.com/gyektai/gapyah/tree/master">github</a>

	{% for post in posts[::-1] %}
		<h2>{{ post.date_posted.month }}/{{ post.date_posted.day }} {{ post.title }}</h2>
		<p>{{ post.content }}</p>
	{% endfor %}
	
	<br>
	<a href="{{ url_for('makepost') }}">Write a New Post</a>
{% endblock content %}
