

body {
	padding-top: 70px;
}

.bg-ltgrey {
	background-color: #cccccc;
}

.txt-wt {
	color: #ffffff;
}

.nav.navbar-nav li a {
	color: #ffffff;
	font-size: 14px;
	margin-right: 1px;
	margin-left: 1px;
}

.nav.navbar-nav li a:hover {
	border-left: 1px solid #8c8c8c;
	border-right: 1px solid #8c8c8c;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #b3b3b3;
}

.page-header {
	padding-left: 50px;
	font-size: 42px;
	color: #14141f;
	/*font-weight: bold;*/
}

.blog-page {
	border-radius: 4px;
	background-color: #ffffff;
	padding-top: 6px;
}

.blog-entry {
	padding-bottom: 7px;
}

.blog-date {
	padding-left: 50px;
	color: #46466d;
  	font-size: 24px;
  	font-family: "Times New Roman", Times, serif;
  	padding-top: 0px;
}

.blog-title {
	padding-left: 20px;
  	color: #46466d;
  	font-size: 24px;
  	font-family: "Times New Roman", Times, serif;
  	padding-top: 0px;
}

.blog-content {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 5px;
	font-family: "Times New Roman", Times, serif;
	margin-bottom: -10px;
}

hr.solid {
	width: 90%;
	border-top: 1px solid #c2c2d6;
}

.home {
	font-size: 16px;
}

.btn-blue {
	padding-top: 5px:;
	background-color: #ffffff;
	color: #809fff;
	border: 2px solid #809fff;
}
a.btn-blue:hover{
	border-color: #333333;
}

.short {
	width: 25%;
}

.pad-left {
	padding-left: 40px;
}

.mr-right {
	margin-right: 20px;
}