body {
	padding-top: 70px;
}

.article-title {
	background-color: #e0e0eb;
  	color: #46466d;
  	border-radius: 4px;
  	padding: 8px;
  	font-size: 18px;
}

.article-content {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 5px;
}

.btn-blue {
	background-color: #809fff;
	color: #ffffff;
}