<html>
<head>
	<title></title>
</head>
<body>
	<h1> Gideon's Gap Year </h1>
	<p>This is the site that I'll be working on for my gap year (or semester — who knows what the world has in store?). I'll use it as a blog to post projects, give updates, and make projects specifically for the site. I don't really intend on anyone paying attention. I want this log for myself.</p>
	<p>Past versions are available on my github. I look forward to seeing what I'll be able to make this year.</p> <a href="https://github.com/gyektai/gapyah/tree/master">github</a>
</body>t
</html>