<html>
<head>
	<title></title>
</head>
<body>
	<h1> Gideon's Gap Year </h1>
	<p>This is the site that I'll be working on for my gap year (or semester — who knows what the world has in store?). I'll use it as a blog to post projects, give updates, and I'll make projects specifically for the site as I learn web development. I don't really intend on anyone paying attention. I want this log for myself. Let's see how far I'll go.</p>
	<p>Past versions are available on my github. I look forward to seeing what I'll be able to make this year.</p> <a href="https://github.com/gyektai/gapyah/tree/master">github</a>
	<h2>8/18 A humbling lesson</h2>
	<p>I wanted to create an implementation of Dijkstra's algorithm for map routing, which I have done before, and it didn't go well. I dove straight into it, and wrote all of the code without running and checking anything. Of course that didn't go well. Of course. I knew that it wouldn't work well if I did it that way.</p>
	<p>And I ignored it anyway.</p>
	<p>So next time I'll properly write and test everythin. My code failed at the first line. I couldn't import from another file. I also didn't really know where I was headed most of the time, or what data structures I should be using. It was terrible, a mess, but a good lesson learned.</p>
	<p>So I won't rush through things. So I won't be so ambitious straight away.</p>
</body>
</html>